[Unit]
Description=Inference
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0
Requires=vlan_setup.service

[Service]
ExecStart=/usr/bin/bash /home/unito/advis/advis_distrimuse_unito_SR/scripts/advis_infer.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
